<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>cPath: Pathway Database</display-name>

    <!-- Filter Cache -->
    <filter>
        <filter-name>Cache</filter-name>
        <filter-class>org.mskcc.pathdb.servlet.CacheFilter</filter-class>
    </filter>

    <!-- Apply the Filter Cache to select Struts actions -->
    <filter-mapping>
        <filter-name>Cache</filter-name>
        <url-pattern>/record.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Cache</filter-name>
        <url-pattern>/browse.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Cache</filter-name>
        <url-pattern>/webservice.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Cache</filter-name>
        <url-pattern>/home.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Cache</filter-name>
        <url-pattern>/faq.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Cache</filter-name>
        <url-pattern>/cytoscape.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Cache</filter-name>
        <url-pattern>/about.do</url-pattern>
    </filter-mapping>


    <!-- Struts cPath Action Servlet Configuration -->
	<servlet>
	    <servlet-name>JnlpDownloadServlet</servlet-name>
        <servlet-class>com.sun.javaws.servlet.JnlpDownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.mskcc.pathdb.servlet.CPathServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>10</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>10</param-value>
        </init-param>
        <init-param>
            <param-name>db_host</param-name>
            <param-value>db_host__value</param-value>
        </init-param>
         <init-param>
            <param-name>db_name</param-name>
            <param-value>db_name__value</param-value>
        </init-param>
        <init-param>
            <param-name>db_user</param-name>
            <param-value>db_user__value</param-value>
        </init-param>
        <init-param>
            <param-name>db_password</param-name>
            <param-value>db_password__value</param-value>
        </init-param>
        <init-param>
            <param-name>admin_user</param-name>
            <param-value>admin_user__value</param-value>
        </init-param>
        <init-param>
            <param-name>admin_password</param-name>
            <param-value>admin_password__value</param-value>
        </init-param>
        <init-param>
            <param-name>psi_schema_location</param-name>
            <param-value>http://psidev.sourceforge.net/mi/xml/src/MIF.xsd
            </param-value>
        </init-param>
        <init-param>
            <!-- set to "psi_mi" or "biopax" -->
	        <param-name>web_mode</param-name>
            <param-value>web_mode__value</param-value>
        </init-param>
        <init-param>
            <!-- set to "0" or "1" -->
	        <param-name>admin_mode_active</param-name>
            <param-value>admin_mode_active__value</param-value>
        </init-param>
        <load-on-startup/>
    </servlet>
    
    <!-- Servlet Mappings -->
	<servlet-mapping>
        <servlet-name>JnlpDownloadServlet</servlet-name>
        <url-pattern>*.jnlp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <!-- Error Codes -->
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/pages/NotFound.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/WEB-INF/jsp/pages/NotFound.jsp</location>
    </error-page>

    <!-- Tag Libraries -->
    <taglib>
        <taglib-uri>/WEB-INF/taglib/struts-html.tld</taglib-uri>
        <taglib-location>/WEB-INF/taglib/struts-html.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/taglib/struts-logic.tld</taglib-uri>
        <taglib-location>/WEB-INF/taglib/struts-logic.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/taglib/struts-bean.tld</taglib-uri>
        <taglib-location>/WEB-INF/taglib/struts-bean.tld</taglib-location>
    </taglib>

	<!-- MIME Types -->
	<mime-mapping>
	    <extension>pvals</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>

</web-app>
