<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>CBio Data Services Application</display-name>
    <!-- XML-RPC Servelt -->
    <servlet>
        <servlet-name>XmlRpcServlet</servlet-name>
        <servlet-class>org.mskcc.pathdb.servlet.XmlRpcServlet</servlet-class>
        <load-on-startup/>
    </servlet>
    <!-- Struts cPath Action Servlet Configuration -->
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.mskcc.pathdb.servlet.CPathServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>10</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>10</param-value>
        </init-param>
        <init-param>
            <param-name>db_host</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>db_user</param-name>
            <param-value>tomcat</param-value>
        </init-param>
        <init-param>
            <param-name>db_password</param-name>
            <param-value>kitty</param-value>
        </init-param>
        <init-param>
            <param-name>admin_user</param-name>
            <param-value>admin</param-value>
        </init-param>
        <init-param>
            <param-name>admin_password</param-name>
            <param-value>cpath</param-value>
        </init-param>
        <load-on-startup/>
    </servlet>
    
    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>XmlRpcServlet</servlet-name>
        <url-pattern>/xmlrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <!-- Error Codes -->
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/pages/NotFound.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/WEB-INF/jsp/pages/NotFound.jsp</location>
    </error-page>

    <!-- Tag Libraries -->
    <taglib>
        <taglib-uri>/WEB-INF/taglib/struts-html.tld</taglib-uri>
        <taglib-location>/WEB-INF/taglib/struts-html.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/taglib/struts-logic.tld</taglib-uri>
        <taglib-location>/WEB-INF/taglib/struts-logic.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/taglib/struts-bean.tld</taglib-uri>
        <taglib-location>/WEB-INF/taglib/struts-bean.tld</taglib-location>
    </taglib>

</web-app>
