/*****************************************************
* Home Page Search Box
*****************************************************/
.search_tab_box {
  padding: 10px;
  margin-bottom:5px;
  border:2px solid #aaaaaa;
}

.large_search_box fieldset {
  padding-top:10px;
  padding-left:10px;
  margin-bottom:10px;
}

/* Do not underline text inside the tabs */
.search_tabs a{
  text-decoration:none !important;
}

/* Active Search Tab, with Hover Effect*/
.search_tab_active {
  padding-top:2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  background: #578bb8;
  border: 1px solid #578bb8;
  color:white;
}
.search_tab_active:hover {
   background: #578bb8;
   color:white;
}

/* Inactive Search Tab, with Hover Effect */
.search_tab_inactive {
  padding-top:2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  background: #aaaaaa;
  border: 1px solid #aaaaaa;
  color:white;
}
.search_tab_inactive:hover {
   background: #999999;
   border: 1px solid #999999;
   color:white;
}

/* Highlight Text to the User */
.search_highlight{
    font-weight: bold;
}

/*****************************************************
* Search Bar in the Upper Right Corner of the Page
*****************************************************/
#searchbar{
float:right;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-top: 10px;
margin-top:10px;
margin-right: 40px;
}

#searchbar a{
  color:white;
}

#searchbar form fieldset{
padding-left:5px;
padding-bottom:10px;
padding-top:5px;
padding-right:5px;
margin-left:20px;
border:1px solid #dddddd;
}

#searchbar {
width:35%;
margin:0 5px 0 0;
}

#searchbutton{
/**width:auto;
padding:0 1px;
border:1px solid #808080;
font-size:0.8em;
text-align:center;
**/
}

.search_bar_box {
}

.search_bar_tabs {
  padding-bottom: 5px;
  font-size:80%;
}

.search_bar_tabs a{
  text-decoration:none !important;
}

.search_bar_tab_active {
  margin: 0px;
  background:#80b0da;
  color:#ffffff;
  padding-left: 5px;
  padding-right: 5px;
  padding-top:3px;
  padding-bottom:3px;
}

.search_bar_tab_active:hover {
   background: #80b0da;
   color:white;
}

.search_bar_tab_inactive {
  margin: 0px;
  background:#aaaaaa;
  color:#ffffff;
  padding-left: 5px;
  padding-right: 5px;
  padding-top:3px;
  padding-bottom:3px;
}

.search_bar_tab_inactive:hover {
   background: #bbbbbb;
   color:white;
}

/*****************************************************
* Search Results Tabs
*****************************************************/

.results_tab_box {
  padding-top:5px;
  padding-bottom:7px;
  margin-bottom:5px;
}

.results_tab_active {
  padding-top:2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-right:5px;
  background: #578bb8;
  border: 1px solid #578bb8;
  color:white;
}

.results_tab_inactive {
  padding-top:2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  background: #DDDDDD;
  border: 1px solid #aaaaaa;
}

input {
  /**font-size:120%;**/
}

.splitcontentright fieldset {
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
  margin-bottom:10px;
}

.first_sentence {
  font-weight:normal;
  font-size:95%;
}

.filter_details a {
   border-bottom-style: dotted;
   border-bottom-width: thin;
   text-decoration: none;
}

.lucene_explain {
  background: pink;
  font-size:80%;
  padding:10px;
  margin-bottom:5px;
}

.exact_matches {
  border: 1px solid #ffcccc;
  background: #CCCCFF;
  padding: 10px;
  margin-top:4px;
}

.input_search_box {
    margin-top:10px;
}

.input_search_box2 {
    margin-top:5px;
}

.text_box {
    font-size:large !important;
    background: #EEEEEE !important;
}

.srp{
font-size:0.9em;
font-weight:normal;
display:block;
margin:5px 0 5px 0;
padding-left:5px;
height:1.7em;
line-height:1.7em;
background-color:#578bb8;
color:#ffffff;
}

.srp a:hover,#subcontent a:hover{color:white;text-decoration:underline;}
