.hide {
	display:none;
}
.show {
	display:block;
}

/* Page Footer */
#footer {
	clear: both;
	color: #003366;
    font-size: 95%;
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    /* margin:  top, right, bottom, left */
	margin:  5px 20px 5px 15px;
	/* padding:  top, right, bottom, left */
	padding:  5px 5px 5px 20px;
}

/*  Tag Line that appears on home page */
#tagline {
	font-size: 110%;
    /* margin:  top, right, bottom, left */
	margin:  5px 20px 5px 10px;
}

/* Links within the Tag Line  */
#tagline a {
	/* padding:  top, right, bottom, left */
	padding: 2px 5px 2px 15px;
	background:  url(../images/icon_sortright.gif) no-repeat 0 50%;
}

/* Page Header */
#page_header {
    /* padding  top, right, bottom, left */
	padding:  0px 25px 5px 15px;
	color: #fff;
	background: #036;
	/* margin:  top, right, bottom, left */
	margin: 0px 0px 0px 0px;
}

#page_title {
}

#page_header h1 {
	font-size: 180%;
	/* margin:  top, right, bottom, left */
	margin: 0px 5px 5px 0px;
	padding: 15px 5px 5px 5px;
}

#page_header h2 {
	font-size: 90%;
	/* margin:  top, right, bottom, left */
	margin: 0px 5px 5px 0px;
	padding: 0px 5px 5px 5px;
}

/* FAQs */
#content {
	/* margin:  top, right, bottom, left */
	margin: 0px 0px 5px 5px;
}

#content h1{
	font-size:120%;
}

/* Search Box */
#search {
	font-size: 90%;
	background: #036;
	margin:  20px 5px 0px 0px;
	padding:  20px 0px 20px 0px;
}

/* Search Results Bar */
#search_bar {
	font-size: 100%;
	font-weight: bold;
	/* margin:  top, right, bottom, left */
	margin: 5px 5px 15px 0px;
	border: 1px solid #AAAAAA;
	padding: 5px 5px 5px 5px;
}

/*  Search Hit */
#search_name
{
	font-size: 110%;
}

/*  Search Blob  */
#search_blob {
	font-size:  100%;
	color:  #555555;
	/* margin:  top, right, bottom, left */
	margin: 5px 5px 15px 0px;
}

#box {
	border-left: 1px solid #AAAAAA;
	border-top: 1px solid #AAAAAA;
}

#box th {
	background:  #DDDDDD;
	text-align:  left;
}

#home_page_box {
	/* margin:  top, right, bottom, left */
	margin: 10px 5px 5px 10px;
	border: 1px solid #DDDDDD;
	padding: 5px 5px 5px 5px;
}


/* Customized Pop up Boxes for Overlib */
.popup {
     background:  #ccccff;
     font-size:80%;
     padding: 0px 0px 0px 0px;
     border: 1px solid #036;
}

.popup_caption {
    background-color: #036;
    color:  #FFFFFF;
    margin: 0px 0px 5px 0px;
    padding: 2px 5px 2px 5px;
    font-weight:bold
}

.popup_text {
 	margin: 0px 5px 5px 5px;
}

.popup_text ul {
     padding-left: 20px;
     list-style-type:square;
}

.popup_organism {
    color:  lightgreen;
}

/* Table Headers */
.table_head2 {
    background-color: #CC9999;
}

.table_head2 a:link {
    color: #000000
}