.hide {
	display:none;
}
.show {
	display:block;
}

/* Page Footer */
#footer {
	clear: both;
	color: #003366;
    font-size: 85%;
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    /* margin:  top, right, bottom, left */
	margin:  25px 20px 5px 15px;
	/* padding:  top, right, bottom, left */
	padding:  5px 5px 5px 20px;
}

/*  Tag Line that appears on home page */
#tagline {
	font-size: 110%;
    /* margin:  top, right, bottom, left */
	margin:  5px 20px 5px 10px;
}

/* Links within the Tag Line  */
#tagline a {
	/* padding:  top, right, bottom, left */
	padding: 2px 5px 2px 15px;
	background:  url(../images/icon_sortright.gif) no-repeat 0 50%;
}

/* Page Header */
#page_header {
    /* padding  top, right, bottom, left */
	padding:  0px 25px 5px 15px;
	color: #fff;
	background: #036;
	/* margin:  top, right, bottom, left */
	margin: 0px 0px 0px 0px;
}

#page_title {
}

#page_header h1 {
	font-size: 180%;
	/* margin:  top, right, bottom, left */
	margin: 0px 5px 5px 0px;
	padding: 15px 5px 5px 5px;
}

#page_header h2 {
	font-size: 90%;
	/* margin:  top, right, bottom, left */
	margin: 0px 5px 5px 0px;
	padding: 0px 5px 5px 5px;
}

/* FAQs */
.text {
	/* margin:  top, right, bottom, left */
	margin: 0px 0px 5px 5px;
}

#content h1{
	font-size:120%;
}

/* Search Box */
#search {
	font-size: 90%;
	background: #036;
	margin:  5px 5px 0px 0px;
	padding:  20px 0px 20px 0px;
        color: #FFFFFF;
}

#search a:link {
    color: #FFFFFF;
}

#search a:visited {
    color: #FFFFFF;
}

/* Search Results Bar */
.search_bar {
    background: #036;
     color: #FFFFFF;
	font-size: 100%;
	font-weight: bold;
	/* margin:  top, right, bottom, left */
	margin: 5px 5px 15px 0px;
	padding: 5px 5px 5px 5px;
}

.search_bar a:link, .search_bar a:visited, .search_bar a:active {
    color: #fff !important;
}

/*  Search Hit */
.search_name
{
	font-size: 110%;
     margin: 5px 5px 5px 5px;
}

/*  Search Blob  */
.search_blob {
	font-size:  100%;
	color:  #555555;
	/* margin:  top, right, bottom, left */
	margin: 5px 5px 15px 5px;
}

#box {
	border-left: 1px solid #AAAAAA;
	border-top: 1px solid #AAAAAA;
}

#box th {
	background:  #DDDDDD;
	text-align:  left;
}

.tagline {
    font-size:110%;
}

.home_page_box {
	/* margin:  top, right, bottom, left */
    margin: 0px 5px 5px 0px;
	border: 1px solid #DDDDDD;
	padding: 5px 5px 5px 5px;
}

.large_search_box {
	margin: 10px 5px 5px 0px;
	border: 1px solid #000000;
	padding: 5px 5px 5px 5px;
    background: #CCCCFF;
}

.large_search_box h1 {
   font-size:130%;
}

.large_search_box input {
   font-size:135%;
}

/* Customized Pop up Boxes for Overlib */
.popup {
     background:  #ccccff;
     font-size:80%;
     padding: 0px 0px 0px 0px;
     border: 1px solid #036;
}

.popup_caption {
    background-color: #036;
    color:  #FFFFFF;
    margin: 0px 0px 5px 0px;
    padding: 2px 5px 2px 5px;
    font-weight:bold
}

.popup_text {
 	margin: 0px 5px 5px 5px;
}

.popup_text ul {
     padding-left: 20px;
     list-style-type:square;
}

.popup_organism {
    color:  lightgreen;
}

/* Table Headers */
.table_head2 {
    background-color: #CC9999;
    padding: 5px 2px 5px 5px;
    font-weight:bold;
}

.table_head2 a:link {
    color: #000000
}

.entity_header {
    font-size:135%;
    font-weight:bold;
    /* top, right, bottom, left */
    margin: 10px 0px 5px 5px;
    padding: 2px 2px 10px 2px;
    border-bottom: 2px solid #EEEEEE;
}

.synonym {
    /* top, right, bottom, left */
    margin: 0px 15px 5px 0px;
    padding: 0px 5px 0px 0px;
    background: #EEEEEE;
}

.debug {
    /* top, right, bottom, left */
    margin: 0px 0px 5px 5px;
    padding: 5px 5px 5px 5px;
    border: 1px solid #036;
}

.action_button {
    font-size:95%;
    margin: 1px 1px 1px 1px;
    padding: 5px 10px 5px 5px;
    background: #EEDDFF
}

.user_message {
    color:#880000;
    font-weight:bold;
    margin: 1px 5px 1px 5px;
    padding: 5px 5px 5px 5px;
    background: #EEEEEE;
}

#content h1 {
  font-size:125%;
  margin: 5px 0px 5px 5px;
}

.mini_button_1 a{
  background-color:#BEF9E8;
  padding: 0px 5px 0px 5px;
  text-decoration:none;
  border: 1px solid #AAAAAA;
}
.mini_button_2 a{
  background-color:#F7D6F7;
  padding: 0px 5px 0px 5px;
  text-decoration:none;
  border: 1px solid #AAAAAA;
}
.mini_button_3 a{
  background-color:#FBEBAC;
  padding: 0px 5px 0px 5px;
  text-decoration:none;
  border: 1px solid #AAAAAA;
}
.mini_button_4 a{
  background-color:#9DC8E7;
  padding: 0px 5px 0px 5px;
  text-decoration:none;
  border: 1px solid #AAAAAA;
}

.mini_buttons {
  font-size:85%;
  font-weight:bold;
  margin: 7px 0px 0px 0px;
}

.mini_buttons a:link {color: black !important;}
.mini_buttons a:visited {color: black !important;}
.mini_buttons a:hover {color: black !important;}
.mini_buttons a:active {color: black !important;}

.record_page_category a:hover {color: black !important;}
.record_page_category a:active {color: black !important;}

.small {
    font-size:85%;
}

/* Data Source Details */
.details {
  font-size:85%;
  display:none;
}

/* Entity Summary, e.g. summary of interaction details */
.entity_summary {
    font-size:95%;
}

.entity_summary a {
   border-bottom-style: dotted;
   border-bottom-width: thin;
   text-decoration: none;
}


.yui-navset {
  #font-size:80%;
}

/*  Selected Tab */
.selected {
  font-weight:bold;
}